<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vote</title>
</head>
<body>
<h1>Vote</h1>
    <h2>Liste de votes </h2>

<form action="#" th:action="@{/VoteSondage}" th:object="${newVote}" method="post">
    <p>Session :</p>
    <input type="text" th:field="*{session}">
    <p>Description :</p>
    <input type="text" th:field="*{description}">
    <input type="submit" value="Save">

</form>
        <div th:each="vote:${Vote}">
            <p th:text="${vote.id}"></p>
            <p th:text="${vote.session}"></p>
            <p th:text="${vote.date}"></p>
            <p th:text="${vote.description}"></p>
    </div>
</body>
</html>